body {
  font-family: "Quicksand", sans-serif;
  display: block;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

p {
  color: rgb(0, 141, 178);
}

nav {
  position: fixed;
  z-index: 10;
  display: flex;
  width: 100%;
  background-color: white;
}

#pageHeader {
  color: rgb(0, 141, 178);
  padding: 1em;
  padding-left: 2em;
  font-size: xx-large;
  font-weight: bolder;
}

#bike-svg {
  max-height: 20%;
}

.app-container {
  display: grid;
  grid-template-rows: 50% 50%;
}

.data-container {
  padding-top: 10em;
  width: 100vw;
  /* height: 100vh; Your DIVs Height */
  z-index: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* display: flex;
  flex-direction: row-reverse; */
}

.chart {
  /* grid-row-start: 2;
  grid-column-start: 2; */
}

#mapid {
  margin: auto;
  height: 450px;
  width: 500px;
  border: 1px solid rgb(0, 141, 178);
  /* grid-row-start: 2; */
}

.chart-bar {
  margin: 1%;
}

.tooltip {
  background-color: rgb(247, 207, 82);
}

@media only screen and (max-width: 600px) {
  nav {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
  }
  p {
    color: rgb(0, 141, 178);
    margin: 10px;
    font-size: x-large;
  }

  .data-container {
    grid-column-start: 1;
  }

  #mapid {
    /* grid-row-start: 3; */
  }
}
